body {
  text-align: center;
}

.board {
  position: relative;
  margin: 100px 0 0 0;
  display: inline-block;
}

.square {
  display: inline-block;
  background-color: pink;
  border: none;
  vertical-align: middle;
  box-sizing: border-box;
}

.square.entered {
  background-color: gold;
}

.square.abandoned {
  background-color: rgb(230, 119, 138);
}

.square.top-on {
  border-top: 5px solid red;
}

.square.right-on {
  border-right: 5px solid red;
}

.square.bottom-on {
  border-bottom: 5px solid red;
}

.square.left-on {
  border-left: 5px solid red;
}

.row:first-child .square {
  border-top-width: 10px;
}

.row:last-child .square {
  border-bottom-width: 10px;
}

.square:first-child {
  border-left-width: 10px;
}

.square:last-child {
  border-right-width: 10px;
}

.cursor {
  display: block;
  background-color: blue;
  border-radius: 50%;
  position: absolute;
}
